{% extends 'base.html.twig' %}

{% block body %}
    <div id="res">
        {% for row in result %}
            {{ row }}<br>
        {% else %}
            <span colspan="5">no records found</span>
        {% endfor %}
    </div>
{% endblock %}