{% extends 'base.html.twig' %}

{% block body %}

    {{ result.tirage }}
    {% for row in result %}

        {{ row }}
    {% else %}
        <span colspan="5">no records found</span>
    {% endfor %}

{% endblock %}